:root {
    --c-1: #000;
    --c-f: #fff;
    --c-2: #050404;
    --c-3: #333;
    --c-4: #444;
    --c-5: #555;
    --c-6: #666;
    --c-8: #909090;
    --c-b: #bbb;
    --c-c: #ccc;
    --c-e: #eee;
    --c-d: #ddd;
    --c-r: #831;
    --t-b: 0.5;
    --c-o: rgba(34, 34, 34, 0.9);
    --c-tb: rgba(34, 34, 34, var(--t-b));
    --c-tba: rgba(102, 102, 102, var(--t-b));
    --c-tbh: rgba(51, 51, 51, var(--t-b));
    /*following are internal*/
    --th: 70px;
    --tp: 70px;
    --bh: 63px;
    --tbp: 14px 14px 10px 14px;
    --bbp: 9px 0 7px 0;
    --bhd: none;
    --bmt: 0px;
}

body {
    font-family: sans-serif;
    text-align: center;
    background: red;
    color: #fff;
    line-height: 200%%;
    /* %% because of AsyncWebServer */
    margin: 10px 0 10px 0;
    overflow-x:hidden;
}

::-webkit-scrollbar {
    display: none;
}

hr {
    margin: 10px auto;
}

a {
    color: #28f;
    text-decoration: none;
}

input[type="button"][value="Upload"],
input[type="button"][value="Apply"]
,button,
.btn {
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    border: 1px solid var(--black-500, #909090);
    background: var(--white, #000);
    color: var(--black-900, #fff);
    border-radius: 25px;
}


input[type="button"][value="Upload"]:hover,
input[type="button"][value="Apply"]:hover,
button:hover,
.btn:hover{
    background: var(--white, #fff);
    color: var(--black-900, #000);
    transition: 0.5s;
}

.lnk {
    border: 0;
}

button.disabled,
button[disabled] {
    color: #aaa;
}

.helpB {
    text-align: left;
    position: absolute;
    left: 10px;
    width: 60px;
}

.helpB button {
    width: 40px;
}

.topsettingsmenu{
    position: sticky;
    width: 100vw;
    top: 0;
    background-color: #000;
    border-bottom: 2px solid #fff;
    margin-top: -1px;
    z-index: 100;
}

.bottomsettingsmenu{
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: #000;
    border-top: 2px solid #fff;
    margin-bottom: -1px;
    margin-top: 100px;
    z-index: 100;
}

input {
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border: 1px solid #909090;

    color: var(--c-f);
    font-weight: 400;
    font-size: 18px;
    margin: 5px;
}

input:disabled {
    color: #888;
}

input[type="number"] {
    width: 4em;
    margin: 2px 5px;
}

input[type="number"].xxl {
    width: 100px;
}

input[type="number"].xl {
    width: 85px;
}

input[type="number"].l {
    width: 63px;
}

input[type="number"].m {
    width: 56px;
}

input[type="number"].s {
    width: 49px;
}

input[type="number"].xs {
    width: 42px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    background: transparent;
    margin: 2px;
}

select {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    background: var(--c-2);
    color: var(--c-f);
    border-radius: 10px;
    border: 2px solid var(--c-8);
}

select option {
    background-color: var(--c-2);
    color: var(--c-f);
}

td {
    padding: 2px;
}

.d5 {
    width: 4.5em !important;
}

#toast {
    opacity: 0;
    background-color: #444;
    border-radius: 5px;
    bottom: 64px;
    color: #fff;
    font-size: 17px;
    padding: 16px;
    pointer-events: none;
    position: fixed;
    text-align: center;
    z-index: 5;
    transform: translateX(-50%%);
    /* %% because of AsyncWebServer */
    max-width: 90%%;
    /* %% because of AsyncWebServer */
    left: 50%%;
    /* %% because of AsyncWebServer */
}

#toast.show {
    opacity: 1;
    background-color: #264;
    animation: fadein 0.5s, fadein 0.5s 2.5s reverse;
}

#toast.error {
    opacity: 1;
    background-color: #b21;
    animation: fadein 0.5s;
}

h2 {
    color: #4b9dc9;
    text-align: center;
    font-weight: 550;
    font-size: 25px;
    /* font: 500 30px "Barlow Condensed", sans-serif; */
    margin: 20px;
}